{% load static %}

<html>

    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">

        <title> Dashboard </title>

    </head>

    {% include 'base.html' %}

    <br><h3 class="text-center">Dashboard</h3><hr>

    <div class="container bg-black shadow-md p-5 form-layout">
        <li class="nav-item">
            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'createtask' %}">Create Task</a>
        </li>
        <br>
        <li class="nav-item">
            <a class="btn btn-primary navbar-btn" type="button" href="{% url 'viewtasks' %}">View Tasks</a>
        </li>
        <br>
        <li class="nav-item">
            <a class="btn btn-danger navbar-btn" type="button" href="{% url 'createtask' %}">Log out</a>
        </li>
        <a href="{% url 'profilemanager' %}"> manage profile </a>
    </div>

</html>